*.sln
*.vcxproj
*.filters
*.pdb
*.lib
*.dll
*.exp
*.wav
bin/Release/*.exe
bin/Release/Projects
.vscode/
.cache/
obj/
# loonix
*.make
bin/Release/*.so
bin/Release/Uphonic
bin/Release/.workspace
compile_commands.json
